<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jacob.educamep">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EducaMep"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ChatCursoActivity"
            android:exported="true" />
        <activity
            android:name=".VerTareaActivity"
            android:exported="true" />
        <activity
            android:name=".VerNoticiaActivity"
            android:exported="true" />
        <activity
            android:name=".PerfilEstudianteActivity"
            android:exported="true" />
        <activity
            android:name=".PerfilDocenteActivity"
            android:exported="true" />
        <activity
            android:name=".ModificarEstudianteActivity"
            android:exported="true" />
        <activity
            android:name=".ModificarDocenteActivity"
            android:exported="true" />
        <activity
            android:name=".ModificarCursoActivity"
            android:exported="true" />
        <activity
            android:name=".LoginSelectActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaTareasActivity"
            android:exported="true" />
        <activity
            android:name=".ListaNoticiasActivity"
            android:exported="true" />
        <activity
            android:name=".ListaEstudiantesActivity"
            android:exported="true" />
        <activity
            android:name=".GestionEstudiantesActivity"
            android:exported="true" />
        <activity
            android:name=".GestionDocentesActivity"
            android:exported="true" />
        <activity
            android:name=".GestionCursosActivity"
            android:exported="true" />
        <activity
            android:name=".GestionAsignacionesActivity"
            android:exported="true" />
        <activity
            android:name=".EstudiantePrincipalActivity"
            android:exported="true" />
        <activity
            android:name=".EliminarEstudianteActivity"
            android:exported="true" />
        <activity
            android:name=".EliminarDocenteActivity"
            android:exported="true" />
        <activity
            android:name=".EliminarCursoActivity"
            android:exported="true" />
        <activity
            android:name=".DocentePrincipalActivity"
            android:exported="true" />
        <activity
            android:name=".AsignacionEstudiantesActivity"
            android:exported="true" />
        <activity
            android:name=".AsignacionDocentesActivity"
            android:exported="true" />
        <activity
            android:name=".AgregarTareaActivity"
            android:exported="true" />
        <activity
            android:name=".AgregarNoticiaActivity"
            android:exported="true" />
        <activity
            android:name=".AgregarEstudianteActivity"
            android:exported="true" />
        <activity
            android:name=".AgregarDocenteActivity"
            android:exported="true" />
        <activity
            android:name=".AgregarCursoActivity"
            android:exported="true" />
        <activity
            android:name=".AdministradorPrincipalActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name" />
    </application>

</manifest>